<footer id="footer">
    <div class="footer-content dflex-row wrap flex-align-items-center">
        <a class="footer__brand" href="index.html">Fragmental</a>
        <span class="legal-wrapper">
            <small id="copyright">Copyright &copy; 2020 Todos los derechos reservados</small>
            <small><a href="#">Políticas de privacidad</a> | <a href="#">Términos y condiciones</a></small>
        </span>
    </div>
    <div class="social dflex-row wrap flex-align-content-center flex-justify-end">
        <a href="#"><img src="{{ "/assets/images/resources/twitter.svg" | relative_url }}"></a>
        <a href="#"><img src="{{ "/assets/images/resources/gitlab.svg" | relative_url }}"></a>
        <a href="#"><img src="{{ "/assets/images/resources/github.svg" | relative_url }}"></a>
    </div>
</footer>