<aside id="sidebar">
    <div id="about" class="mb-1">
        <img class="about__image circle border-light" src="{{ "assets/images/resources/spaceman.jpg" | relative_url }}" alt="user profile">
        <hr>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Dolorem eveniet ab voluptatum quasi delectus iste atque sint
        voluptate tempore laudantium.</p>
    </div>

    <section class="widget flex-grow-1 rounded-1 bshadow-1 p-1 mt-1">
        <h3 class="widget__title">Categorías</h3>
        <nav class="widget__items-wrapper dflex-row nowrap flex-justify-between">
            <ul class="widget__item">
                <li><a href="#">Libros</a></li>
                <li><a href="#">Manuales</a></li>
                <li><a href="#">Proyectos</a></li>
                <li><a href="#">Herramientas</a></li>
                <li><a href="#">Ahora</a></li>
            </ul>
            <div class="widget__item-value">
                <span class="dblock">28</span>
                <span class="dblock">15</span>
                <span class="dblock">03</span>
                <span class="dblock">07</span>
            </div>
        </nav>
    </section>

    <section class="widget flex-grow-1 rounded-1 bshadow-1 p-1 mt-1">
        <h3 class="widget__title">Archivos</h3>
        <nav class="widget__items-wrapper dflex-row nowrap flex-justify-between">
            <ul class="widget__item">
                <li>2020</li>
                <li>2019</li>
                <li>2018</li>
                <li>2017</li>
            </ul>
            <div class="widget__item-value">
                <li>117</li>
                <li>120</li>
                <li>105</li>
                <li>103</li>
            </div>
        </nav>
    </section>
</aside>