---
layout: default
---
<main class="post align-self-start rounded-1">
    <header class="post__meta dflex-row wrap flex-justify-between border-bottom-2">
        <span>
            <a href="#">Libros</a> |
            <a href="#">By {{ page.author }}</a>
            <time datetime="2020-03-16">posted {{ page.date | date_to_string }}</time>
        </span>
        <a href="#">The Pragmatic Programmer</a>
    </header>
    <article class="post-body article">
        <h1>{{ page.title }}</h1>
        <!-- <div class="post__thumb-wrapper">
            <img src="img/ilya-pavlov.jpg" alt="article thumb">
            <p class="thumb__caption--off">Fig. 1: Logo modificado de GNU, realizado por primera vez por Etienne Suvasa.</p>
        </div> -->
        {{ content }}
    </article>
    <footer class="post__meta dflex-row wrap flex-justify-between border-top-2">
        <span class="meta-info">
            <img src="{{ "/assets/images/resources/tags.svg" | relative_url }}">
            {% for tag in page.tags %}
              <a href="#">{{ tag }}</a>{% if tag != page.tags.last %}, {% endif %}
            {% endfor %}
        </span>
        <span class="meta-info">
        <img src="{{ "/assets/images/resources/share.svg" | relative_url}}">
        </span>
    </footer>
</main>

<!-- post navigation -->
<div class="navigation dflex-row nowrap flex-justify-between flex-align-items-center">
    <span class="dflex-row nowrap flex-align-center">
        <img src="{{ "/assets/images/resources/arrowl.svg" | relative_url}}">
        <a href="#">Fundamentos de Git, GitHub y GitBucket I</a>
    </span>
    <span class="dflex-row nowrap flex-align-center">
        <a href="#">La programación pragmática y sus ventajas</a>
        <img src="{{ "/assets/images/resources/arrowr.svg" | relative_url}}">
    </span>
</div>
<!-- end post navigation -->

{% include sidebar.html %}

<!-- suggested articles section -->
<section id="suggested-section">
    <span class="section__title">Post sugeridos</span>
    <div class="cards-container dflex-row wrap">
        <article class="card rounded-1 flex-grow-1">
            <div class="card-header relative">
                <img src="{{ "/assets/images/resources/screen-post.jpg" | relative_url }}" class="card__thumb" alt="post image">
                <a href="#"><h2 class="card__title absolute top bottom left right">Fundamentos basicos en linux core parte I - III</h2></a>
                <a href="#" class="meta-info absolute left ml-1">
                    <img src="{{ "/assets/images/resources/user.svg" | relative_url }}">
                    <span>Jsanchez</span>
                </a>
                <a href="#" class="meta-info absolute right mr-1">
                    <img src="{{ "/assets/images/resources/clock.svg" | relative_url }}">
                    <span>2 months ago</span>
                </a>
            </div>
        </article>
        <article class="card rounded-1 flex-grow-1">
            <div class="card-header relative">
                <img src="{{ "/assets/images/resources/gnu.jpeg" | relative_url }}" class="card__thumb" alt="post image">
                <a href="#"><h2 class="card__title absolute top bottom left right">Fundamentos basicos en linux core parte I - III</h2></a>
                <a href="#" class="meta-info absolute left ml-1">
                    <img src="{{ "/assets/images/resources/user.svg" | relative_url }}">
                    <span>Jsanchez</span>
                </a>
                <a href="#" class="meta-info absolute right mr-1">
                    <img src="{{ "/assets/images/resources/clock.svg" | relative_url }}">
                    <span>2 months ago</span>
                </a>
            </div>
        </article>
        <article class="card rounded-1 flex-grow-1">
            <div class="card-header relative">
                <img src="{{ "/assets/images/resources/ilya-pavlov.jpg" | relative_url }}" class="card__thumb" alt="post image">
                <a href="#"><h2 class="card__title absolute top bottom left right">Fundamentos basicos en linux core parte I - III</h2></a>
                <a href="#" class="meta-info absolute left ml-1">
                    <img src="{{ "/assets/images/resources/user.svg" | relative_url }}">
                    <span>Jsanchez</span>
                </a>
                <a href="#" class="meta-info absolute right mr-1">
                    <img src="{{ "/assets/images/resources/clock.svg" | relative_url }}">
                    <span>2 months ago</span>
                </a>
            </div>
        </article>
    </div>
</section>
<!-- end suggested posts section -->